@import "~bootstrap/scss/bootstrap.scss";

.trafficPole{
  background: #222;
  width: 170px;
  height: 400px;
  border-radius: 20px;
  position: relative;
  border: solid 5px #333;
  align-items: center;
  margin-top: 100px;
}

.red {
  background: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 30px;
}

.redOn {
  background: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 30px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px red;
}
.redOff {
  background:grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 30px;
}

.yellow {
  background: yellow;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 30px;
}

.yellowOn {
  background: yellow;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 30px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px yellow;
}

.yellowOff {
  background:grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 145px;
  left: 30px;
}

.green {
  background: green;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 30px;
}

.greenOn{
  background: green;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 30px;
  box-shadow: 
    0 0 20px #111 inset,
    0 0 10px lime;
}

.greenOff{
  background:grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 270px;
  left: 30px;
}
